<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa fa-telegram" aria-hidden="true"></i>
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            <i class="fa fa-compass logo" aria-hidden="true"></i>
            
        </div>

        <div>&copy; Wander Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy"> privacy</a>
            <a href="/terms"> Terms</a>
        </div>
    </div>
</footer>